<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}/static/css/article.css">
</head>
<body class="article">
    <div class="header">
        <img class="logo"  src="{{ STATIC_URL }}/static/logo.svg" alt="Логотип"/>
        <p class="archive-link"><a href="{% url 'archive' %}">Все статьи</a></p>
    </div>
    <div class="article-container">
        <h1>{{ post.title }}</h1>
        <div class="article-info">
          <div class="article-author">{{ post.author.username }}</div>
          <div class="article-created-date">{{ post.created_date|date:'d E Y' }}</div>
        </div>
        <div class="article-text">
          {{ post.text|linebreaks }}
        </div>
    </div>
</body>
</html>