body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

img {
    width: auto;
    height: 70px;
    margin-bottom: 15px;
}

.archive,
.article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.archive .one-post {
    padding: 10px 0;
}

.archive .header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.archive-link a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.post-title a {
    color: #ffffff;
}

.article-author {
    width: 50%;
    float: left;
    font-weight: bold;
}

.article-created-date {
    text-align: right;
    font-style: italic;
}




